@media screen and (max-width :768px) {
    .header-section{
        flex-direction: column;
        
    }
    
    
}

body{
    font-family: 'Mulish', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header-section{
     display: flex;
     max-width: 1250px;
}
.nav-icon{
    width: 50%;
    display: flex;
    gap: 10px;
    align-items: center;
    padding-left: 135px;
    
}
.nav-icon  h1{
    font-size:25px;
    font-weight: 800;
}
span{
    color: #FF5400;
}
.nav-items{
    width: 50%;
    display: flex;
    justify-content: space-between;
    text-align: right;
    padding-left: 10px;
    padding-right: 25px;
    padding-top: 20px;
}
.nav-items a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: rgba(66, 66, 71, 1);
    
}
 .nav-items a:hover{
    background-color: gold;
    margin: 10px;
    padding: 5px;
    border-radius: 2px;
}
.banner-1{
    background:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../B9A2-Hero-Travel-main/Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 1170px;
    height: 500px;
    border-radius: 16px;
    border: 16px;
    margin-left: 135px;
    margin-top: 140px;
    
   
    
}
.banhead-1{
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-weight: 800;
    padding-top: 106px;
    gap: 24px;
    
}
.banpara{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}
.frame{
    display: inline-flex;
    justify-content: space-between;
    gap:24px;
    border-radius: 8px;
    position: relative;
    background-color: #ffffff4c;
    padding-left: 170px;
    padding-right: 170px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 50px;
   
}
.frame .where button{
    height: 50px;
    width: 150px;
    background-color: #ffffff;
    border-radius: 8px;
}
.frame .when button{
    height: 50px;
    width: 150px;
    background-color: #ffffff;
    border-radius: 8px;
    
}
.frame .select button{
    height: 50px;
    width: 150px;
    background-color: #ffffff;
    border-radius: 8px;
}
.frame .find button{
    height: 50px;
    width: 150px;
    background-color: #FF5400;
    color: #ffffff;
    border-radius: 8px;
}
.dot{
    height: 5px;
    width: 5px;
    background-color: black;
    border-radius: 50%;
    margin-top: .45rem;
    margin-right: .3rem;
    

}

.item-des ul li{
    display: flex;
}
.banner-2{
    display: flex;
    gap: 44px;
    margin-right: 135px;
    margin-left: 135px;
    margin-top: 140px;
}
.banner-2 button{
    width: 150px;
    height: 50px;
    border-radius: 8px;
    margin-top: 80px;
   background-color: #FF5400;
   color: #ffffff;
  
}
.des-img{
    width: 500px;
    height: 500px;
}
.item-des p {
    font-size: 16px;
    font-weight: 400px;
    color: #131318b2;
}
.item-des h3{
    font-size: 16px;
    font-weight: 400px;
    color: #131318b2;
}
.choose-destination{
    text-align: center;
    margin-top: 80px;
}
#guides{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    gap: 24px;
}
#choose{
    color: black;
    font-size: 40px;
    font-weight: 800;
}
.mald{
    background-image: url("../B9A2-Hero-Travel-main/Images/Rectangle\ 5.png");
    background-repeat: no-repeat;
    height: 300px;
    width: 573px;
}
.mald h1{
    text-align: center;
    padding: 150px;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;



}
.ind{
    background-image: url("../B9A2-Hero-Travel-main/Images/Rectangle\ 8.png");
    background-repeat: no-repeat;
    height: 300px;
    width: 573px;
    
}
.ind h1{
    text-align: center;
    padding: 150px;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
}
.container-1{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
}
.sri{
    background-image: url("../B9A2-Hero-Travel-main/Images/Rectangle\ 6.png");
    background-repeat: no-repeat;
    border-radius: 16px;
    width: 374px;
    height: 286px;
    
}
.sri h1{
    text-align: center;
    padding: 150px;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
}
.nor{
    background-image: url("../B9A2-Hero-Travel-main/Images/Rectangle\ 7.png");
    background-repeat: no-repeat;
    border-radius: 16px;
    width: 474px;
    height: 286px;

}
.nor h1{
    text-align: center;
    padding: 150px;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
}
.kas{
    background-image: url("../B9A2-Hero-Travel-main/Images/Rectangle\ 9.png");
    background-repeat: no-repeat;
    border-radius: 16px;
    width: 274px;
    height: 286px;
}
.kas h1{
    text-align: center;
    padding: 100px;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;

}
.container-2{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 15px;
}
.bangla{
    background-image: url("../B9A2-Hero-Travel-main/Images/Rectangle\ 11.png");
    background-repeat: no-repeat;
    border-radius: 16px;
    width: 473px;
    height: 300px;
}
.bangla h1{
    text-align: center;
    padding: 150px;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
}
.bandor{
    background-image: url("../B9A2-Hero-Travel-main/Images/Rectangle\ 10.png");
    background-repeat: no-repeat;
    border-radius: 16px;
    width: 673px;
    height: 300px;
}
.bandor h1{
    text-align: center;
    padding: 150px;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
}
.container-3{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top:15px;
}
.why-choose{
    text-align: center;
    margin-top: 50px;
}
.why-choose h1{
    color:  black;
    font-size: 40px;
    font-weight: 800;
}
.why-choose p{
     color: rgba(19, 19, 24, 0.70);
    margin: 20px;
    font-size: 16px;
    font-weight: 400;
}
.hotel{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    margin-left: 100px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 50px;

}
.hotel h1{
    font-size: 24px;
    font-weight: 800;
    text-align: center;
}
.hotel p{
    color: #5A5A5D;
    font-size: 16px;
}
.service  img{
    height: 48px;
    width: 48px;
}
.service h1{
    font-size: 24px;
    font-weight: 800;
    text-align: center;

}
.service  p{
    color: #5A5A5D;
    font-size: 16px;

}
.service{
    width: 573px;
    height: 284px;
    padding: 50px;
    margin-left: 100px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.to-choose-1{
    display: flex;
    gap: 24px;
}
.price{
    justify-content: center;
    align-items: center;
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin-left:400px;
    margin-top: 20px;
    padding: 50px;
}
.price img{
    height: 48px;
    width: 48px;

}
.price h1{
    font-size: 24px;
    font-weight: 800;
    text-align: center;

}
.price p{
    color: #5A5A5D;
    font-size: 16px;
}